body{background-color:#FFF;}


#wrapper{
		background-color:#999;
        margin:0 auto 0 auto;
     	min-height:2200px;
		max-height:2500px;
}


#header{
		height:100px;
		width:1200px;}
		
.im{margin-left:300px;
padding-left:300px;
color:#000;}	
#h{
	
		height:400px;
		width:1200px;
		padding:50px;
		margin-left:15px;
		text-align:center;
		background-attachment:fixed;
		background-image:url(../images/620px_280_1366101395.jpg);}

#pic{
	height:400px;
	width:1200px;
	padding:50px;
	background-attachment:fixed;
	margin-left:15px;
	color:#000;
	font-size:24px;
}



#open{	
		height:300px;
		width:1200px;
		padding:50px;
		text-align:center;
		margin-left:15px;
		background-image:url(../images/tod.jpg);
		color:#000;
		font-size:24px;}
		


#footer{
		margin-left:15px;
		padding-top: 100px;
		height: 400px;
		width: 1300px;
		color:#999;
		background-image:url(../images/____3_20130304_1432249181.jpg);}
		
		


ul li{

		display:inline;
		padding:70px;
		border:10px #00FF00;
		float:right;
		
		

  }







#list{

		 text-align: center;
		 background-color: #FFF;
		 width: 1200px;
		 height: 50px;
		 padding-left: 125px;
		 margin-left: 10px;
		 margin-top:100px;
		 text-shadow:#F00;
		 border-radius:20;
		  border-bottom-right-radius: 3px;
		  
 
}




a {text-decoration: none; 
}
		 




#content{

		 color: #fff;
		 padding: 50px;
		 margin-right: 50px;}


	


#contact{

		   color: #fff;
		   padding-left: 20px;
		   margin-right: 5px;}



.rights{

		   margin-left: 250px;
 		   padding: 20px;}

#img{
		   padding:10px;
		   height:400px;
		   margin-top:200px;
		   margin-left:400px;}
		   
		   
		   
#p{
		  padding: 10px;
		  height: 100px;
		  color: #fff;
		  width:100%;}


.clad{

	      height:40px;
		  width:50%;
		  float:left;}

.why{

		 float:right;
		 height:40px;
		 width:50%;}
		

.f i{
	 	   height:50px;
	 	   width:50px;
	 	   color:#FFF;
		   font-size:40px;
		   text-align:center;
		   -moz-border-radius:50%;
	       -webkit-border-radius:50%;
			border-radius:50%;}



.f i:hover{

		   background-color:#4c66a4;
		   height:50px;
		   width:50px;
		  -moz-border-radius:50%;
		  -webkit-border-radius:50%;
		   border-radius:50%;}
		 



.g i{
		   height:50px;
		   width:50px;
		   color:#FFF;
		   font-size:40px;
		   text-align:center;
		   -moz-border-radius:50%;
	       -webkit-border-radius:50%;
			border-radius:50%;}





.g i:hover{

		   background-color:#dd4b39;
		   height:50px;
		   width:50px;
		   -moz-border-radius:50%;
		   -webkit-border-radius:50%;
			border-radius:50%;}
		




.t i{
	 	   height:50px;
	 	   width:50px;
		   color:#FFF;
		   font-size:40px;
		   text-align:center;
		   -moz-border-radius:50%;
		   -webkit-border-radius:50%;
			border-radius:50%;}




.t i:hover{

		   background-color:#4099FF;
		   height:50px;
		   width:50px;
		  -moz-border-radius:50%;
		  -webkit-border-radius:50%;
		   border-radius:50%;}




.l i{
		   height:50px;
		   width:50px;
		   color:#FFF;
		   font-size:40px;
		   text-align:center;
		   -moz-border-radius:50%;
		   -webkit-border-radius:50%;
			border-radius:50%;}





.l i:hover{
			background-color:#007bb6;
			height:50px;
			width:50px;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;}





.y i{
		   height:50px;
		   width:50px;
		   color:#FFF;
		   font-size:40px;
		   text-align:center;
		   -moz-border-radius:50%;
		   -webkit-border-radius:50%;
			border-radius:50%;}





.y i:hover{

			background-color:#bb0000;
			height:50px;
			width:50px;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;}








.p i{
		   height:50px;
		   width:50px;
		   color:#FFF;
		   font-size:40px;
		   text-align:center;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;}




.p i:hover{

			background-color:#cb2027;
			height:50px;
			width:50px;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;}

